In [ ]:
print ( "My Age = " ,30)

My Age =  30

In [ ]:
MyName= "Mohamed Atteya"
MyAge= 30
MyJob= " I am Running my Own Business"
MyKids= "Fayrouz= 8 Years Old"

In [ ]:
print (f"Hello {MyName}  {MyAge} {MyJob} {MyKids}")

Hello Mohamed Atteya  30  I am Running my Own Business Fayrouz= 8 Years Old

In [ ]:
a="Mohamed"
b=30
c=3.0
d=True

In [10]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

NameError: name 'a' is not defined

In [16]:
x=[1,2,3,4,5,5]
x[0]=6
y=(1,2,3,4,5,5)
z={"key1":1,"key2":10,"key3":100}
mido={1,2,3,4,5,5,6}

In [18]:
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

[6, 2, 3, 4, 5, 5]
<class 'list'>
(1, 2, 3, 4, 5, 5)
<class 'tuple'>
{'key1': 1, 'key2': 10, 'key3': 100}
<class 'dict'>

In [45]:
name="amit Learning atteya Learning "
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.replace("amit","hello"))
name=name.upper()
name= name.split()

print(name[0:20:3])
print(name[-2])

AMIT LEARNING ATTEYA LEARNING
amit learning atteya learning
Amit learning atteya learning
hello Learning atteya Learning
['AMIT', 'LEARNING']
ATTEYA

In [4]:
fruits=[1,2,3,4,5,6,6,6,6,6,6,6,6,6,6,8]
fruits[0]=0

fruit=["apple","banana","watermelon"]
fruit[2]=fruits
print(fruit)
fruits.count(6)

print("Hello \n World")
print("Hello \t World")
print("Hello \t \"World\"")

['apple', 'banana', [0, 2, 3, 4, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8]]
Hello
 World
Hello 	 World
Hello 	 "World"

In [7]:
tup=(5,6,7,8,9,10)
print(type(tup))
list(tup)

<class 'tuple'>

[5, 6, 7, 8, 9, 10]

In [19]:
tupm={"key":9,10:99,100:999}
listm=list(tupm.items())
print(listm)

[('key', 9), (10, 99), (100, 999)]

In [84]:
x=[1,2,3,4,5]

x.append("zero")
print(x)

x.insert(0,"mido")
print(x)

x.insert(5,["apple","apple"])
print(x)

x.extend(["mazo","tazo"])
print(x)

x.extend({"mazo":222,"tazo":444})
print(x)
x.remove("tazo")
print(x.remove("tazo"))

print(x)
x.pop(1)
print(x.pop(1))
print(x)
print(x[3].remove("apple"))
x.pop(3)
x.insert(3,[1501,[1502,1503,"sara"]])

print(x)

[1, 2, 3, 4, 5, 'zero']
['mido', 1, 2, 3, 4, 5, 'zero']
['mido', 1, 2, 3, 4, ['apple', 'apple'], 5, 'zero']
['mido', 1, 2, 3, 4, ['apple', 'apple'], 5, 'zero', 'mazo', 'tazo']
['mido', 1, 2, 3, 4, ['apple', 'apple'], 5, 'zero', 'mazo', 'tazo', 'mazo', 'tazo']
None
['mido', 1, 2, 3, 4, ['apple', 'apple'], 5, 'zero', 'mazo', 'mazo']
2
['mido', 3, 4, ['apple', 'apple'], 5, 'zero', 'mazo', 'mazo']
None
['mido', 3, 4, [1501, [1502, 1503, 'sara']], 5, 'zero', 'mazo', 'mazo']